*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}

.container{
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

body{
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Rubik', sans-serif;
    
}

.header__nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 36px;
    padding-bottom: 45px;
    background: #3E8989;
}

.header__title{
    color: white;
}

.header__list-link{
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
}

.header__list-link:hover{
    
}

.header__list{
    display: flex;
    gap: 30px;
}

.header__intro{
  background: url(../image/pic.svg)no-repeat center / cover;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__intro-title{
    color: #FFF;
    font-family: Rubik;
    font-size: 80px;
    font-weight: 600;
}

.header__intro-descr{
    color: #FFF;
    font-family: Rubik;
    font-size: 40px;
    font-weight: 500;
}

.header__intro-btn{
    border-radius: 30px;
    background: #B4436C;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 77px;
    padding-right: 78px;
    transition: 0.3s;
    margin-top: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.header__intro-btn:hover{
    background: #FFF;
    color: #B4436C;
}

.about__title{
    color: #3E8989;
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 59px;
}

.about__text{
    color: #000;
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    width: 545px;
}

.about__descr{
    display: flex;
    justify-content:center;
    gap: 20px;
}

.catalog__items-title{
    color: #3E8989;
font-family: Inter;
font-size: 40px;
font-weight: 600;
text-align: center;
margin-top: 97px;
margin-bottom: 53px;
}

.catalog__items{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.catalog__item{
    width: 263px;
    height: 300px;
    background: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section__list{
    display: flex;
    justify-content:space-around;
    margin-top: 30px;
}

.section__list-link{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    transition: 0.3s;
}

.section__list-link:hover{
    color: #B4436C;
}

.contact-descr{
    display: flex;
   justify-content: space-between;
}

.contact-descr-numb{
    display: flex;
    flex-wrap: wrap;
}

.contacts{
    margin-bottom: 104px;
}

.contacts__title{
    font-family: 'Inter';
    font-size: 40px;
    font-weight: 600;
    color: #3E8989;
    text-transform: capitalize;
    margin-bottom: 50px;
    margin-top: 50px;
}

.contacts__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__box{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.contacts-descr{
    max-width: 555px;
    width: 100%;
    color: black;
    font-size: 20px;
}

.contacts__link{
    color: #000;
    font-size: 20px;
}

.footer__content{
    display: flex;
    justify-content: center;
}

.footer__list{
    display: flex;
    gap: 30px;
    margin-top: 43px;
    margin-bottom: 64px;
}

.footer__list-link{
    color: #FFF;
    font-size: 20px;
    font-weight: 600;

}

.footer__descr{
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 20px;
}

.footer{
    background: #3E8989;
}
